.main{
    display: flex;
    flex-flow:column ;
}
.main,.top,.content,.leftmenu,.rightmenu{
    border: 1px solid black;
}
.top{
    display: flex;
    flex-flow: row nowrap;
    background-color: lightgray;
}
.top>div{
    background-color: dimgray;
    padding: 15px;
    margin: 20px;
    font-size: 15px;
}
.content{
    display: flex;
    flex-flow: row nowrap;
    
}
.leftmenu{
    display: flex;
    width: 500px;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    
}
.leftmenu>div{
    background-color: dimgray;
    padding: 15px;
    margin: 20px;
    font-size: 15px;
    width: 50%;
    text-align: center;
}
.rightmenu{
    width: 1000px;
}
.rightmenu>div{
    font-size: 20px;
    padding-top:10px;
    padding-left:10px;
}